__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

.env
.venv
env/
venv/
ENV/
data-files/

logs/
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media

.idea/
.vscode/
*.swp
*.swo
*~

.DS_Store
Thumbs.db

/static_collected/
.env.local
.env.*.local

topics/setfit_models/
*.pt
*.pth
*.ckpt
*.bin
model_checkpoints/
checkpoints/
