{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Topic Engine</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="{% static 'js/menu.js'%}"></script>
    </head>
    <body class="bg-gray-100 dark:bg-gray-900">
        <header class="bg-white dark:bg-gray-800 shadow-md p-4">
            {% include 'nav.html' %}
        </header>

        <div id="main-container">
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
